* {
  margin: 0;
}

.clue {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--clue-left), var(--clue-top));
  margin: 10px;
  background: white;
  z-index: var(--clue-z-index);
  width: 350px;
}

.clue-evs {
  max-height: calc(352px + var(--clue-first-top) - var(--clue-top));
  overflow: auto;
}
